<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.kilon.android.trainride" 
	android:versionCode="1"
	android:installLocation="preferExternal"
	android:versionName="1.0"
	>
	
	<application android:name=".BartApplication" 
		android:icon="@drawable/ic_hp_trip_planner"
		android:debuggable="false"
		android:label="@string/app_name"
	>
	
		<activity
			android:screenOrientation="portrait"
			android:name=".activities.MainActivity"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.Light">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".activities.StationsActivity"
			android:theme="@android:style/Theme.Light"
			android:label="@string/stations"
		/>
		
		<activity android:name=".activities.StationsListActivity"
			android:theme="@android:style/Theme.Light.NoTitleBar" 
			android:label="@string/station_list" 
		/>
		
		<activity android:name=".activities.FavoritesActivity"
			android:theme="@android:style/Theme.Light.NoTitleBar" 
			android:label="@string/favorites"
		/>
		
		<activity android:name=".activities.StationActivity"
			android:theme="@android:style/Theme.Light"
			android:configChanges="keyboardHidden|orientation"
		 />
		 
		<activity android:name=".activities.StationRidesActivity" 
			android:label="@string/app_name"
			android:theme="@android:style/Theme.Light.NoTitleBar" 
		/>
		
		<activity android:name=".activities.TripHistoryListActivity"
			android:theme="@android:style/Theme.Light"
			android:label="@string/trip_hostory"
		/>
			
		<activity android:name=".activities.TripActivity"
			android:label="@string/trip_planner"
			android:theme="@android:style/Theme.Light"
			android:configChanges="keyboardHidden|orientation"
		 />
		
		<activity
			android:name=".activities.MapActivity"
			android:theme="@android:style/Theme.Light" 
			android:label="@string/station_map" />
			
		<activity android:name=".activities._GoogleMap" android:label="@string/google_map" />
		
	</application>
	

	<!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
	<uses-permission android:name="android.permission.INTERNET" />
	
	<uses-sdk android:targetSdkVersion="10" android:minSdkVersion="7"/>
	
	
</manifest> 